.noticeWraper {
  max-width: 36.8vw;
  margin-top: 40px;
  margin-left: 40px;

  .notice {
    margin-bottom: 24px;
  }

  .tutorialLink {
    margin-top: 50px;
    font-size: 16px;
    font-weight: 300;
  }
}
