.SelectPaper {
  box-sizing: border-box;
  min-width: 27.4vw;
  height: 60px;
  background-color: black;
  background-size: cover;

  position: relative;

  &#texture1 {
    background-image: url('../../images/texture1.jpg');
  }

  margin-right: 20px;
  margin-bottom: 20px;

  color: black;
  border: 2px solid black;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &.inactive {
    background-color: white;
    color: #7B7B7B;
    border: 2px solid #7B7B7B;

    &:hover {
      color: black;
      border-color: black;
    }
  }
}
