@font-face {
  font-family: 'Aeroport';
  src:  local('AeroportRegular'),
        url('/fonts/Aeroport-regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aeroport';
  src:  local('AeroportBold'),
        url('/fonts/Aeroport-bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
