<section id="item_promo scroll_item">
  <div class="caseContainer">
    <p class="meta"></p>

    <h1>
      Coolest Parties
    </h1>

    <p class="learnMore">
      Click to learn more
    </p>
  </div>
</section>
