<div class="caseContainer">
  <p class="meta">
    With
    <strong><%= @post.client %></strong>
    in
    <strong><%= @post.year %></strong>
  </p>

  <h1>
    <%= @post.title %>
  </h1>

  <figure class="featuredPreview">
  </figure>


  <p class="description">
    <%= @post.description %>
  </p>

  <section class="itemsContainer">
    
  </section>


</div>
