.calcPage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: white;
  box-shadow: 0 0px 4px 0 rgba(0,0,0,.3);

  margin-top: 90.3vh;
  transition: .1s ease-in-out;

  &:hover {
    margin-top: 90vh;
  }

  &#open {
    margin-top: 6vh;
  }
}

.blockHead {
  width: 100vw;
  height: 60px;

  &#toOpen {
    cursor: n-resize;
  }
  &#toClose {
    cursor: s-resize;
  }

  h1 {
    padding-top: 16px;
    margin-left: 40px;

    font-size: 32px;
    line-height: 32px;
  }
}
