.checkoutWraper {
  width: 256px;
  height: 78vh;
  position: fixed;
  top: 13.3vh;
  right: 2.8vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input {
    border: none;
    font-size: 30px;
    line-height: 34px;
    color: black;
    font-weight: 400;
    font-family: 'Aeroport';

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #7B7B7B;
    }
  }

  p#cost {
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
  }

  .checkoutButton {
    width: 256px;
    height: 60px;
    background-color: #7B7B7B;

    display: flex;
    justify-content: center;

    cursor: pointer;

    p {
      color: white;
      font-size: 20px;
      line-height: 60px;
      vertical-align: middle;
    }
  }
}
