.progressBarWraper {
  width: 65.7vw;
  // margin-top: 40px;
  margin-left: 40px;

  .progressStages {
    width: 100%;
    display: flex;
    justify-content: space-between;

    #inactive {
      color: #7B7B7B;
    }

    p {
      cursor: pointer;
    }
  }

  .progressBar {
    width: 100%;
    height: 4px;
    position: relative;
    margin-top: 12px;

    .progressBg {
      width: 100%;
      height: 4px;
      background-color: #DEDEDE;
      position: absolute;
    }

    .progressLine {
      width: 50%;
      height: 4px;
      background-color: black;
      position: absolute;

      &#stage0 {
        width: 10%;
      }

      &#stage1 {
        width: 23%;
      }

      &#stage2 {
        width: 37%;
      }

      &#stage3 {
        width: 49%;
      }

      &#stage4 {
        width: 62%;
      }

      &#stage5 {
        width: 85%;
      }
    }
  }
}
