body {
  // background-image: url("../../photos/maket2.png");
}

.main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.logo {
  width: 90px;
  height: 16px;
  margin-top: 30px;

  position: absolute;
}

.ked {
  width: 543px;
  margin-top: 188px;
  margin-left: 10px;
  position: absolute;
}

.BUY {
  color: black;
  text-decoration: none;
  position: absolute;
  font-family: "CA MagicHour";
  font-size: 24px;
  margin-top: 543px;
  margin-left: 3px;

  cursor: pointer;

  z-index: 200;

  &::after {
    position: absolute;
    content: "";
    width: 114%;
    left: -12%;
    top: 115%;
    height: 3px;
    background-color: black;
  }

  &:hover {
    &::after {
      top: 120%;
    }
  }
}

.soon {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: -100 !important;

  position: absolute;

  .text {
    display: block;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
  }

  #timer {
    margin-top: 20px;
    display: block;
    font-family: 'CA MagicHour';
    font-size: 28px;
    line-height: 38px;
  }
}

.social {
  margin-top: 93vh;
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .insta, .twi {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .insta:hover, .twi:hover {
    width: 32px;
    height: 32px;
  }

  .insta {
    background-image: url("../../photos/insta.svg");
  }

  .twi {
    background-image: url("../../photos/twi.svg");
  }

  .social.buy {
    margin-top: 88vh;
  }
}

.FAQ {
  position: absolute;
  font-family: "CA MagicHour";
  font-size: 24px;
  margin-top: 93vh;

  cursor: pointer;
}

@media screen and (max-width: 667px) {
  .soon {
    .text {
      font-size: 5.3vw;
    }

    #timer {
      font-size: 6.6vw;
    }
  }

  .social {
    margin-top: 90vh;
    width: 100px;

    .insta, .twi {
      width: 40px;
      height: 40px;
    }

    .insta:hover, .twi:hover {
      width: 40px;
      height: 40px;
    }
  }
}
