.FAQ {
  font-family: "CA MagicHour";
  font-size: 24px;
  padding-bottom: 20px;

  cursor: pointer;
}

.socialWraper.buy {
  margin-top: 15vh;
}

.galButton {
  display: flex;
}

.gallery {
  // position: absolute;
  margin-top: 12vh;
  margin-left: 13.8vw;

  #big {
    width: 450px;
    height: 297px;
    background-image: url('../../photos/ked.png');
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;
  }

  .smalls {
    width: 450px;
    display: flex;
    justify-content: space-around;

    margin-top: 30px;
  }

  #small1, #small2, #small3, #small4 {
    width: 112px;
    height: 125px;
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;
  }

  #small1 {
    background-image: url('../../photos/ked.png');
  }
  #small2 {
    background-image: url('../../photos/small-ked.png');
  }
  #small3 {
    background-image: url('../../photos/small-ked.png');
  }
  #small4 {
    background-image: url('../../photos/small-ked.png');
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;

  margin-top: 250px;
  margin-left: 250px;

  .button {
    background-color: black;
    width: 200px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &:hover {
      transform: scale(1.02);
      transition: .1s ease-in-out;
    }

    p {
      color: white;
      font-family: "CA MagicHour";
      font-size: 24px;
    }
  }

  .description {
    width: 400px;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;

    margin-top: 30px;
  }
}
