.buyWrapper {
  margin-top: 22.7vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kedBuy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ked {
  width: 543px;
  height: 360px;

  background-image: url('../../photos/ked.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.BUY {
  color: black;
  text-decoration: none;
  font-family: "CA MagicHour";
  font-size: 24px;

  cursor: pointer;

  z-index: 200;

  &::after {
    content: '';
    width: 114%;
    height: 3px;
    left: -12%;
    top: 115%;
    background-color: black;
  }

  &:hover {
    &::after {
      top: 120%;
    }
  }
}

// Mobile

@media screen and (max-width: 667px) {
  .ked {
    width: 77.7vw;
    height: 52vw;
  }
}

// Ipad pro

@media screen and (min-device-width: 667px) and (max-device-width: 1366px) {
  .ked {
    width: 77.7vw;
    height: 52vw;
  }
}
