body {
  // background-image: url("../../photos/maket2.png");
  // box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
}

.logoWraper {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  .logo {
    width: 90px;
    height: 16px;
    margin-top: 30px;
  }
}

.soon {
  width: 100vw;
  margin-top: 40vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text {
    display: block;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
  }

  .timerWraper {
    width: 330px;
    margin-top: 20px;

    #timer {
      margin-left: 3.4vw;
      font-family: 'CA MagicHour';
      font-size: 28px;
      line-height: 38px;
      text-align: left;
    }
  }
}

.socialWraper {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social {
  width: 5%;
  margin-top: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .insta, .twi {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .insta:hover, .twi:hover {
    width: 32px;
    height: 32px;
  }

  .insta {
    background-image: url("../../photos/insta.svg");
  }

  .twi {
    background-image: url("../../photos/twi.svg");
  }
}

@media screen and (max-width: 667px) {

  .soon {
    margin-top: 30vh;

    .text {
      font-size: 5.3vw;
    }

    .timerWraper {
      width: 100vw;

      #timer {
        margin-left: 23vw;
        font-size: 6.6vw;
      }
    }
  }

  .social {
    margin-top: 25vh;
    width: 100px;

    .insta, .twi {
      width: 40px;
      height: 40px;
    }

    .insta:hover, .twi:hover {
      width: 40px;
      height: 40px;
    }
  }
}
