<section class="menubar">
  <a href="/"><figure class="logo"></figure></a>
  <div class="rubricsContainer">
    <% @rubrics.each do |rubric| %>
      <%= render 'rubrics/show', rubric: rubric %>
    <% end %>
  </div>
</section>
