@font-face {
  font-family: "CA MagicHour";
  src: url("../fonts/CAMagicHour.woff"); }
body {
  box-sizing: border-box;
  width: 100vw;
  margin-top: 0;
  margin-left: 0; }

.main {
  margin-top: 0;
  margin-left: 0;
  width: 100vw; }

.logoWraper {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0; }
  .logoWraper .logo {
    width: 90px;
    height: 16px;
    margin-top: 30px; }

.soonWraper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.soon {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .soon .text {
    display: block;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    line-height: 20px;
    font-weight: 300; }
  .soon .timerWraper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .soon .timerWraper #timer {
      font-family: 'CA MagicHour';
      font-size: 28px;
      line-height: 38px;
      width: 100vw;
      text-align: center; }

.socialWraper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px; }

.social {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline; }
  .social .insta, .social .twi, .social .policy {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat; }
  .social .insta:hover {
    width: 32px;
    height: 32px; }
  .social .twi:hover {
    width: 32px;
    height: 32px; }
  .social .policy:hover {
    width: 32px;
    height: 32px; }
  .social .insta {
    background-image: url("../../photos/insta.svg"); }
  .social .twi {
    background-image: url("../../photos/vk.svg"); }
  .social .policy {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    background-image: url("../../photos/policy.svg"); }

@media screen and (max-width: 667px) {
  .soonWraper {
    height: 80vh; }

  .soon .text {
    font-size: 5.3vw; }
  .soon .timerWraper {
    width: 100vw; }
    .soon .timerWraper #timer {
      font-size: 6.6vw; }

  .socialWraper {
    bottom: 10px; }

  .social {
    width: 100px; }
    .social .insta, .social .twi, .social .policy {
      width: 10.6vw;
      height: 10.6vw; }
    .social .insta:hover, .social .twi:hover, .social .policy:hover {
      width: 10.6vw;
      height: 10.6vw; } }
@media screen and (min-device-width: 667px) and (max-device-width: 1366px) {
  .socialWraper {
    margin-top: 0; }

  .social {
    width: 140px; }
    .social .insta, .social .twi, .social .policy {
      width: 13.6vw;
      height: 13.6vw; }
    .social .insta:hover, .social .twi:hover, .social .policy:hover {
      width: 13.6vw;
      height: 13.6vw; }
    .social .twi {
      margin-left: 0px; } }
.buyWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.kedBuy {
  display: flex;
  flex-direction: column;
  align-items: center; }

.ked {
  width: 543px;
  height: 360px;
  background-image: url("../../photos/ked_main.jpg");
  background-size: contain;
  background-repeat: no-repeat; }

.BUY {
  color: black;
  text-decoration: none;
  font-family: "CA MagicHour";
  font-size: 24px;
  cursor: pointer;
  z-index: 200;
  width: 100vw;
  text-align: center; }

@media screen and (max-width: 667px) {
  .buyWrapper {
    height: 80vh; }

  .ked {
    width: 77.7vw;
    height: 52vw; } }
@media screen and (min-device-width: 667px) and (max-device-width: 1366px) {
  .ked {
    width: 77.7vw;
    height: 52vw; } }
.main {
  display: flex;
  flex-direction: column;
  align-items: center; }

.galButton {
  display: flex;
  margin-top: 6.94vw; }

.galleryWrapper#mobile {
  display: none; }

.gallery#desktop {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .gallery#desktop #big {
    width: 450px;
    height: 297px;
    background-image: url("../../photos/ked_main.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer; }
  .gallery#desktop .smalls {
    display: flex;
    justify-content: space-around;
    margin-top: 30px; }
  .gallery#desktop #small1, .gallery#desktop #small2, .gallery#desktop #small3, .gallery#desktop #small4 {
    width: 112px;
    height: 125px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .7;
    transition: .2s ease-in-out; }
    .gallery#desktop #small1:hover, .gallery#desktop #small2:hover, .gallery#desktop #small3:hover, .gallery#desktop #small4:hover {
      opacity: 1; }
  .gallery#desktop #small1 {
    background-image: url("../../photos/ked_main.jpg"); }
  .gallery#desktop #small2 {
    background-image: url("../../photos/ked_top.jpg"); }
  .gallery#desktop #small3 {
    background-image: url("../../photos/ked_side.jpg"); }
  .gallery#desktop #small4 {
    background-image: url("../../photos/ked_back.jpg"); }
.gallery#mobile {
  display: none; }

.shopifyBuyButtonWraper {
  margin-left: 10vw;
  margin-top: 5vh; }
  .shopifyBuyButtonWraper h1 {
    font-family: "Helvetica Neue";
    font-weight: 600; }
  .shopifyBuyButtonWraper h2 {
    font-family: "Helvetica Neue";
    font-weight: 900; }
  .shopifyBuyButtonWraper #sneakers {
    font-size: 15px;
    font-weight: 500;
    margin-top: -15px; }
  .shopifyBuyButtonWraper p {
    font-family: "Helvetica Neue";
    font-weight: 500;
    opacity: .5; }
  .shopifyBuyButtonWraper .infoWrapers {
    margin-top: 60px;
    width: 21vw; }
    .shopifyBuyButtonWraper .infoWrapers .info {
      font-family: "Helvetica Neue";
      font-weight: 500;
      cursor: pointer;
      display: flex;
      align-items: flex-start;
      transition: 3s ease-in-out; }
    .shopifyBuyButtonWraper .infoWrapers .info:not(:first-of-type) {
      margin-top: 20px; }
    .shopifyBuyButtonWraper .infoWrapers .plus {
      cursor: pointer;
      margin-top: 10px;
      margin-left: 10px; }
      .shopifyBuyButtonWraper .infoWrapers .plus div {
        width: 12px;
        height: 1.5px;
        background-color: black;
        position: absolute; }
        .shopifyBuyButtonWraper .infoWrapers .plus div:first-of-type {
          transform: rotate(90deg);
          transition: 0.3s ease-in-out; }
    .shopifyBuyButtonWraper .infoWrapers .infoMore {
      display: none;
      font-family: "Helvetica Neue";
      font-weight: 400;
      margin-top: 20px;
      margin-bottom: 40px;
      max-width: 500px;
      font-size: 15px;
      line-height: 24px;
      transition: .3s ease-in-out;
      animation-name: infoMoreShow;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-play-state: paused; }
@keyframes infoMoreShow {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .shopifyBuyButtonWraper .infoWrapers .infoMore#size {
      background-image: url("../../photos/size_chart.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 20.8vw;
      height: 22.4vw;
      margin-bottom: 0; }

.policyWraperBg {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: .7;
  top: 0;
  left: 0;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  animation-duration: .1s; }
@keyframes policyBgShow {
  0% {
    opacity: 0; }
  100% {
    opacity: .7; } }
@keyframes policyBgHide {
  0% {
    opacity: .7; }
  100% {
    opacity: 0; } }
.policyWraper {
  display: none;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  background-color: white;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  animation-duration: .5s; }
  .policyWraper a {
    text-decoration: none;
    color: black; }
@keyframes policyShow {
  0% {
    bottom: -40vh; }
  100% {
    bottom: 0; } }
@keyframes policyHide {
  0% {
    bottom: 0; }
  100% {
    bottom: -40vh; } }
  .policyWraper .close {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url("../../photos/close.svg");
    position: absolute;
    top: -60px;
    right: 0px; }
  .policyWraper .firstWraper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 10%; }
  .policyWraper a {
    font-family: "Helvetica Neue";
    font-weight: 900;
    font-size: 20px;
    cursor: pointer; }
  .policyWraper .contactWraper {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 5%; }
    .policyWraper .contactWraper div {
      display: flex;
      align-items: baseline; }
      .policyWraper .contactWraper div a {
        margin-left: 10px; }
  .policyWraper p {
    font-family: "Helvetica Neue";
    font-weight: 400;
    font-size: 20px; }

@media screen and (max-width: 1050px) {
  .logoWraper {
    position: static; }

  .galButton {
    flex-direction: column; }
    .galButton .maxGalleryWraper {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .galButton .maxGalleryWraper .chevron {
        width: 23px;
        height: 40px;
        background-image: url("../../photos/chevron.svg");
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer; }
      .galButton .maxGalleryWraper .chevron#left {
        transform: rotate(180deg); }
    .galButton .galleryWrapper#mobile {
      display: block;
      width: 50vw;
      overflow: hidden;
      margin-left: 0;
      transition: .5s ease-in-out; }
    .galButton .gallery#desktop {
      display: none; }
    .galButton .gallery#mobile {
      display: flex;
      justify-content: flex-start;
      width: max-content; }
      .galButton .gallery#mobile .imgWraper {
        width: 50vw;
        height: 30vw;
        display: flex;
        justify-content: center;
        align-items: center; }
      .galButton .gallery#mobile .mobImg {
        min-width: 50vw;
        min-height: 30vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
      .galButton .gallery#mobile #mob1 {
        background-image: url("../../photos/ked_main.jpg"); }
      .galButton .gallery#mobile #mob2 {
        background-image: url("../../photos/ked_top.jpg"); }
      .galButton .gallery#mobile #mob3 {
        background-image: url("../../photos/ked_side.jpg"); }
      .galButton .gallery#mobile #mob4 {
        background-image: url("../../photos/ked_back.jpg"); }
    .galButton .shopifyBuyButtonWraper {
      margin-left: 10vw; }
      .galButton .shopifyBuyButtonWraper h1 {
        font-size: 35px; }
      .galButton .shopifyBuyButtonWraper .infoMore#size {
        width: 40.8vw;
        height: 42.4vw; }

  .socialWraper.buy {
    margin-top: 80px;
    margin-bottom: 40px;
    position: static; }

  @keyframes policyHide {
    0% {
      bottom: 0; }
    100% {
      bottom: -45vh; } } }
@media screen and (max-width: 667px) {
  .logoWraper#buy {
    position: static; }

  .galButton {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }

  .chevrons {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    margin-left: 2.5vw;
    cursor: pointer;
    position: absolute;
    margin-top: 17vw; }
    .chevrons .chevron {
      width: 23px;
      height: 40px;
      background-image: url("../../photos/chevron.svg");
      background-size: contain;
      background-repeat: no-repeat; }
    .chevrons .chevron#left {
      transform: rotate(180deg); }

  .maxGalleryWraper {
    width: 90vw;
    margin-left: 5vw; }

  .galleryWrapper#mobile {
    width: 90vw !important; }

  .gallery#mobile .imgWraper {
    width: 80vw !important;
    height: 50vw !important; }
  .gallery#mobile .mobImg {
    width: 80vw !important;
    height: 50vw !important; }

  .shopifyBuyButtonWraper {
    margin-left: 10vw;
    margin-top: 0;
    max-width: 80vw;
    overflow: hidden; }
    .shopifyBuyButtonWraper h1 {
      font-family: "Helvetica Neue";
      font-weight: 900;
      font-size: 9.33vw !important; }
    .shopifyBuyButtonWraper h2 {
      font-family: "Helvetica Neue";
      font-weight: 900; }
    .shopifyBuyButtonWraper #sneakers {
      font-size: 17px;
      margin-top: -20px; }
    .shopifyBuyButtonWraper p {
      font-family: "Helvetica Neue";
      font-weight: 500;
      opacity: .5;
      font-size: 17px; }
    .shopifyBuyButtonWraper .infoWrapers {
      margin-bottom: 40px;
      max-width: 90vw; }
      .shopifyBuyButtonWraper .infoWrapers .info {
        font-family: "Helvetica Neue";
        font-weight: 500;
        font-size: 21px;
        cursor: pointer;
        width: 90vw; }
        .shopifyBuyButtonWraper .infoWrapers .info .plus {
          margin-top: 13px; }
      .shopifyBuyButtonWraper .infoWrapers .info:not(:first-of-type) {
        margin-top: 20px; }
      .shopifyBuyButtonWraper .infoWrapers .infoMore {
        font-size: 17px !important;
        font-weight: 400;
        margin-top: 10px !important;
        margin-bottom: 40px;
        width: 80vw;
        font-size: 15px;
        line-height: 24px; }
      .shopifyBuyButtonWraper .infoWrapers .infoMore#size {
        width: 80vw;
        height: 96vw; }

  .socialWraper.buy {
    position: static;
    margin-top: 40px; }

  .social {
    width: 120px; }

  .policyWraper {
    display: none;
    transition: 1s ease-in-out;
    position: fixed;
    width: 100vw;
    height: max-content;
    bottom: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1); }
  @keyframes policyShow {
    0% {
      bottom: -58vh; }
    100% {
      bottom: 0; } }
  @keyframes policyHide {
    0% {
      bottom: 0; }
    100% {
      bottom: -72vh; } }
    .policyWraper .close {
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      background-image: url("../../photos/close.svg");
      position: absolute;
      top: -60px;
      right: 0px; }
    .policyWraper .firstWraper {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 60px;
      margin-left: 10%; }
    .policyWraper a {
      font-family: "Helvetica Neue";
      font-weight: 900;
      font-size: 20px;
      cursor: pointer; }
      .policyWraper a:not(:first-of-type) {
        margin-top: 20px; }
    .policyWraper .contactWraper {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 30px;
      margin-left: 10%; }
      .policyWraper .contactWraper div {
        display: flex;
        flex-direction: column;
        align-items: baseline; }
        .policyWraper .contactWraper div a {
          margin-left: 0; }
    .policyWraper p {
      font-family: "Helvetica Neue";
      font-weight: 400;
      font-size: 20px; } }
.main#policy {
  display: block; }
  .main#policy .logoWraper#policy {
    position: static;
    margin-bottom: 100px; }
  .main#policy .policyNavWraper {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center; }
    .main#policy .policyNavWraper .policyNav {
      font-family: "Helvetica Neue"; }
      .main#policy .policyNavWraper .policyNav .burger {
        cursor: pointer;
        position: absolute;
        right: 20px;
        margin-top: -3px; }
        .main#policy .policyNavWraper .policyNav .burger div {
          width: 30px;
          height: 2px;
          background-color: black; }
          .main#policy .policyNavWraper .policyNav .burger div:first-of-type {
            margin-bottom: 8px; }
      .main#policy .policyNavWraper .policyNav ul {
        display: none;
        position: absolute;
        right: 20px;
        list-style-type: none;
        background-color: white;
        padding: 10px; }
        .main#policy .policyNavWraper .policyNav ul li {
          margin-top: 20px; }
          .main#policy .policyNavWraper .policyNav ul li:hover {
            opacity: .5; }
      .main#policy .policyNavWraper .policyNav a {
        text-decoration: none;
        color: black; }
  .main#policy .textBLock {
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px; }
  .main#policy h1 {
    font-family: "Helvetica Neue";
    font-weight: 900;
    font-size: 35px;
    margin: 0;
    margin-bottom: 10px;
    max-width: 600px; }
  .main#policy h2 {
    font-family: "Helvetica Neue";
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 50px;
    max-width: 600px; }
  .main#policy p {
    font-family: "Helvetica Neue";
    max-width: 600px;
    line-height: 150%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px; }

@media screen and (max-width: 667px) {
  .policyNav ul {
    display: none;
    width: 100vw;
    left: 0; }

  .textBLock {
    margin-left: 16px !important; }

  h1, h2, p {
    width: 90vw; } }

/*# sourceMappingURL=style.css.map */
